<%= turbo_frame_tag dom_id(@guest), class: "" do %>
  <%= form_with model: [:dungeon_master, @guest], class: "contents *:self-end" do |f| %>
    <div class="field bg-paper p-1">
      <%= f.text_field :name, required: true %>
    </div>
    <div class="field bg-parchment-dark p-1">
      <%= f.collection_select :party_id, Party.all, :id, :name, { class: "block w-full" } %>
    </div>
    <div class="field bg-paper p-1">
      <% food_options = [['Foraged (V)', 'vegetarian'], ['Fowl (Duck)', 'duck'], ['Fish (Salmon)', 'salmon']] %>
      <% food_options.prepend(['Child’s Feast', 'child']) if @guest.under_13? %>
      <%= f.select :food_preference, food_options, class: "block w-full", prompt: "Wants to eat..." %>
    </div>
    <div class="field bg-paper p-1">
      <%= f.collection_select :guild_id, Guild.all, :id, :name, { include_blank: 'Select Guild' }, { class: "block w-full" } %>
    </div>
    <div class="field bg-paper p-1">
      <%= f.text_field :notes %>
    </div>
    <div class="actions flex justify-end">
      <%= f.submit class: "btn primary" %>
    </div>
  <% end %>
<% end %>